.conditionsWrap {
  margin: 0;
}

.conditionHeader {
  font-size: 24px;
  font-weight: bold;
  font-family: "ＭＳ 明朝", 'Shippori Mincho', 'serif';
  color: #fcfcfc;
  width: 100%;
  line-height: 2em;
  text-indent: 12px;
  background-color: #1b1515;
  box-shadow: 10px 0 0 0 #1b1515, -10px 0 0 0 #1b1515;
}

.conditionBoxWrap {
  display: flex;
  margin: 8px 0;
  border: solid 1px #1b1515;
}

.firstConditionBoxWrap {
  display: flex;
  margin: 8px 0;
  border: solid 1px #1b1515;
  margin-top: 16px;
}

.elementBoxWrap {
  margin-top: 10px;
}

.divider {
  width: 1px;
  background-color: #1b1515;
  border: none;
}
