.headerText {
  color: #fcfcfc;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Noto Sans JP', "ＭＳ 明朝", 'serif';
  position: sticky;
  top: 0;
  background-color: #1b1515;
  z-index: 1;
  padding: 8px;
}

.treeItem {
  display: flex;  
}

.treeItemLabel {
  margin-right: 4px;
}