.headerText {
  color: #fcfcfc;
  font-size: 24px;
  font-weight: bold;
  font-family: "ＭＳ 明朝", 'Shippori Mincho', 'serif';
  position: sticky;
  top: 0;
  background-color: #1b1515;
  z-index: 1;
  padding: 8px;
}
