.RangeSliderInputWrap {
  margin: 4px 0;
  border: 1px solid #1b1515;
  position: relative;
}

.inputsWrap {
  margin: 20px 8px 12px 8px;
  display: flex;
  align-items: center;
}

.label {
  padding: 0 2px;
  position: absolute;
  top: -6px;
  left: 12px;
  font-size: 13px;
  background-color: #fcfcfc;
  color: #aaa;
}
